:root {
    --header-height: 3.5rem;
    /*56px*/

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --hue: 152;
    --first-color: hsl(var(--hue), 24%, 32%);
    --first-color-alt: hsl(var(--hue), 24%, 28%);
    --first-color-light: hsl(var(--hue), 24%, 66%);
    --first-color-lighten: hsl(var(--hue), 24%, 92%);
    --title-color: hsl(var(--hue), 4%, 15%);
    --text-color: hsl(var(--hue), 4%, 35%);
    --text-color-light: hsl(var(--hue), 4%, 55%);
    --body-color: hsl(var(--hue), 0%, 100%);
    --container-color: #FFF;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    color: #444;
    font-family: 'Roboto', sans-serif;


}

.container {
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
}

.panel {
    margin: 100px auto 40px;
    max-width: 500px;
    text-align: center;
}

.button_outer {
    background: #83ccd3;
    border-radius: 30px;
    text-align: center;
    height: 50px;
    width: 200px;
    display: inline-block;
    transition: .2s;
    position: relative;
    overflow: hidden;
}

.btn_upload {
    padding: 17px 30px 12px;
    color: #fff;
    text-align: center;
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 3;
    white-space: nowrap;
}

.btn_upload input {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    width: 100%;
    height: 105%;
    cursor: pointer;
    opacity: 0;
}

.file_uploading {
    width: 100%;
    height: 10px;
    margin-top: 20px;
    background: #ccc;
}

.file_uploading .btn_upload {
    display: none;
}

.processing_bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-radius: 30px;
    background: #83ccd3;
    transition: 3s;
}

.file_uploading .processing_bar {
    width: 100%;
}

.success_box {
    display: none;
    width: 50px;
    height: 50px;
    position: relative;
}

.success_box:before {
    content: '';
    display: block;
    width: 9px;
    height: 18px;
    border-bottom: 6px solid #fff;
    border-right: 6px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 17px;
    top: 10px;
}

.file_uploaded .success_box {
    display: inline-block;
}

.file_uploaded {
    margin-top: 0;
    width: 50px;
    background: #83ccd3;
    height: 50px;
}

.uploaded_file_view {
    max-width: 700px;
    max-height: 25rem;
    margin: 40px auto;
    text-align: center;
    position: relative;
    transition: .2s;
    opacity: 0;
    /* border: 2px solid #ddd; */
    padding: 15px;
}

.file_remove {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    position: absolute;
    background: #aaa;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    right: -15px;
    top: -15px;
}

.file_remove:hover {
    background: #222;
    transition: .2s;
}

.uploaded_file_view img {
    max-width: 700px;
    max-height: 25rem;
    border-radius: 1rem;
}

.uploaded_file_view.show {
    opacity: 1;
}

.error_msg {
    text-align: center;
    color: #f00
}




.send_button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    /* Add margin to create space between image and button */
}


.uploaded_file_view {
    position: relative;
    /* Set position to relative */
}





.product__description {
    text-align: center;
    margin-bottom: 2rem;
}

.product__container {
    display: flex;
    padding: 3rem 0;

    width: 70rem;
    margin-right: 3rem;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 2.5rem 3rem;
    align-items: center;
    margin-left: -3rem;

}

.product__card {
    display: grid;
    position: relative;

}

.product__img {
    position: relative;
    width: 220px;
    justify-self: center;
    margin-bottom: var(--mb-0-75);
    transition: .3s;
}

.product__title,
.product__price {
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.product__title {
    margin-bottom: .25rem;
    text-align: center;
    margin-top: 1rem;
}

.product__button {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--first-color);
    color: #FFF;
    padding: .25rem;
    border-radius: .35rem;
    font-size: 1.15rem;
}

.product__button:hover {
    background-color: var(--first-color-alt);
}

.product__circle {
    width: 490px;
    height: 490px;
    background-color: var(--first-color-lighten);
    border-radius: 50%;
    position: absolute;
    top: 18%;
    left: 5%;
}

.product__card:hover .product__img {
    transform: translateY(-.5rem);
}


.product__img {
    width: 22rem;
    border-radius: 1rem;
}

.product__card {
    width: 22rem;
}


.product__circle {
    width: 24rem;
    border-radius: 2rem;
    height: 23rem;
    top: -14%;
    left: -4%;
    z-index: -1;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}



.send_button {

    cursor: pointer;
    padding: 1rem;
    border-radius: .5rem;
    width: 5rem;
    background-color: teal;
}

.send_button:hover {
    background-color: #23d5ab;
}




.progress {
    /* background: #28292c; */
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    margin-top: 1rem;
    margin: 0 auto;
    display: none;
}

.box {
    height: 45px;
    width: 45px;
    border-radius: 50%;

    border: 3px solid;
    border-color: orange transparent;
    animation: spin 1s infinite ease-out;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}